<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>YNSRC</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='robots' content='noindex, noarchive, nofollow' />
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
          min-width:50px;
        }
        nav {
            padding: 10px;
        }
        fieldset {
            display: inline-block;
        }
        input[type=submit] {
            min-width:50px;
        }
    </style>
</head>
<body>
    <nav class="global">
        <a href="/">Home</a>
        <a href="view_customers">Customers</a>
        <a href="view_spaceships">Spaceships</a>
        <a href="view_invoices">Invoices</a>
        <a href="view_services">Services</a>
        <a href="view_invoicedetails">Invoice Details</a>
    </nav>

    {{{body}}}

</body>
</html>