<header>
    <h1>Your Neighborhood Spaceship Repair Center</h1>
</header>
<h2>Welcome to our front-end!</h2>

<p>We have been contracted by Your Neighborhood Spaceship Repair Center to create a database driven website to track their business transactions and maximize profits.
     Specifically, they want to help devise ways to keep better organization of customer and spaceship history to better keep track of repair history. This allows them
      to both reach out to and offer better care to their customers.</p>

<p>This mom-and-pop shop is located in the Milky Way galaxy and sees around 25 invoices for service per month, or around 300 invoices per year. Totaling to about $100,000 
    per year of revenue, this database driven website will implement methods to seamlessly keep track of all customers and their spaceships alongside the corresponding invoices.
     It will maintain a running record of which vehicles have been serviced for which repairs to better maintain vehicle service history.</p>

<footer>
    <p>&copy; 2023 Seattle Squad OSU CS340</p>
</footer>